.SideTrends {
  border-left: 1px solid lightgrey;
  width: 30%;
}
h2 {
  padding: 1em 2em;
  width: calc(100% - 4em);
  font-weight: lighter;
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  .SideTrends {
    display: none;
    position: absolute;
    background: #fff;
    height: 100%;
    top: 0;
    width: 40%;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    right: 0;
  }
}