.TrendItem {
    padding: 2em 1em;
    background: antiquewhite;
    width: calc(100% - 5em);
    margin: 0 auto;
    border-radius: 40px;
    margin-bottom: 1em;
}

.TrendItem h4,
.TrendItem h3,
.TrendItem p{
    margin: 0px;
}